[Unit]
Description=Go HTTP Server

[Service]
User=go-user
WorkingDirectory=/opt/go-http-server
ExecStart=/opt/go-http-server/app

[Install]
WantedBy=multi-user.target
